body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-stretch: extra-expanded;
    background-color:cornflowerblue;
    color:black;

}
#imageContainer {
    max-width: 680px;
}

.img-fluid {
    width: 100%;
    height: auto;
}



